/* ===============================  RESPONSIVE DESIGN FOR NAVIGATION BAR  =============================== */

@media screen and (max-width: 431px) {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  #apply-btn {
    display: none;
  }

  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  .nav-container {
    padding: 0px 2vw;
  }

  nav {
    padding: 10px 15px;
  }

  .school-logo {
    width: 50px;
  }

  .school-name {
    font-size: 15px !important;
    line-height: 1.2;
    color: #b38b00 !important;
    -webkit-text-fill-color: initial !important;
    color: #b38b00 !important;
  }

  #menu-open {
    display: initial;
    font-size: 19px;
    cursor: pointer;
    font-weight: 800;
  }

  #menu-close {
    display: initial;
    font-size: 19px;
  }

  .hamburger-menu {
    display: block;
    position: relative;
    right: -60px;
  }

  .nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 43%;
    height: 100vh;
    background: rgba(30, 62, 168, 0.9);
    backdrop-filter: blur(4px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .nav-menu.active {
    transform: translateX(0);
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 37px;
    padding-left: 20px;
  }

  nav ul li a.nav-link {
    color: #f1f8fd;
    padding-right: 20px;
    font-size: 13px;
    font-weight: 500;
  }

  /*========= HOMEPAGE  ==========*/
  #home {
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center;
    padding-top: 0px;
  }

  #home h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: -30px;
  }

  #home h2 {
    font-size: 0.95rem;
    margin-bottom: 10px;
  }

  #home p {
    font-size: 0.7rem;
    width: 88%;
    line-height: 15px;
    margin-top: 5px;
    margin-bottom: 40px;
  }

  #home .btn {
    margin-top: 3px;
  }

  #home .btn a {
    font-size: 0.7rem;
    padding: 10px 25px;
  }

  /*========= ADMISSION PAGE  ==========*/
  #admissions {
    margin-top: 8px;
    padding: 3vh 6vw;
    max-width: 100%;
  }

  .info-container h1 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .info-container p {
    font-size: 0.69rem;
    margin-left: 12px;
    margin-right: 12px;
    line-height: 15px;
    margin-bottom: 28px;
  }

  /*========= ADMISSION CARDS  ==========*/
  .admission-card .icon i {
    font-size: 1rem;
    margin-bottom: 6px;
  }

  .admission-card h3 {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .admission-card p {
    font-size: 0.69rem;
  }

  .admission-card {
    border-left: 2px solid transparent;
    padding: 10px 10px 10px 10px;
  }

  /*========= EXCELLENCE PAGE  ==========*/

  #excellence-page p {
    font-size: 0.69rem;
  }

  #excellence-page .counter {
    font-size: 0.9rem;
    font-weight: 700;
  }

  #excellence-page .icons i {
    font-size: 1rem;
  }

  #excellence-page .icons {
    width: 40px;
    height: 40px;
  }

  #excellence-page {
    padding: 3vh 6vw;
    max-width: 340px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 5px;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  #excellence-page .students,
  #excellence-page .educators,
  #excellence-page .pass-rate,
  #excellence-page .years-experience {
    flex: 0 0 auto;
    min-width: 120px;
  }

  /*========= ABOUT PAGE  ==========*/

  #staff {
    padding: 3vh 6vw;
    max-width: 100%;
    height: 65vh;
  }

  #staff .content-container h1 {
    font-size: 1.2rem;
    margin-top: 5px;
  }

  #staff .content-container h2 {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  #staff .content-container p {
    font-size: 0.69rem;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 15px;
    margin-bottom: 28px;
  }

  #staff .leaders-images figure p {
    font-size: 0.66rem;
  }

  #staff .leaders-images figure {
    width: 140px;
  }

  #staff .leaders-images figure::after {
    font-size: 0.49rem;
  }

  /*========= CARRICULUM PAGE ==========*/

  #curriculum {
    padding: 4vh 4vw;
    margin-bottom: 10px;
    height: 65vh;
  }

  #curriculum h1 {
    font-size: 1.2rem;
    margin-top: 0px;
  }

  #curriculum p {
    font-size: 0.69rem;
    margin-left: 12px;
    margin-right: 12px;
    line-height: 15px;
    margin-bottom: 28px;
  }

  .curriculum-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2px;
    justify-items: center;
  }

  .curriculum-card {
    width: 100%;
    max-width: 120px;
    height: 220px;
    overflow: visible;
  }

  .card-face.face2 h3 {
    font-size: 0.5rem;
    margin-bottom: -11px;
  }

  .card-face.face2 ul {
    font-size: 0.4rem;
    margin-bottom: 1px;
  }

  .curriculum-card:hover .card-face.face1,
  .curriculum-card:hover .card-face.face2 {
    transform: none !important;
  }
  /*========= STUDENT RESOURCES PAGE  ==========*/

  .resources {
    padding: 4vh 5vw;
    height: 50vh;
  }

  .resources h1 {
    font-size: 1.2rem;
    margin-top: 5px;
  }

  .resources p {
    margin-top: -40px;
    font-size: 0.69rem;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 15px;
    margin-bottom: 28px;
  }

  .book-icon i {
    font-size: 4rem;
  }

  .download-item span {
    font-size: 0.69rem;
  }

  .download-btn {
    padding: 5px 12px;
    font-weight: 500;
    font-size: 0.69rem;
  }

  .download-buttons {
    margin-top: -35px;

    gap: 10px;
    margin-bottom: 15px;
  }

  /*========= CONTACT INFO  ==========*/

  #contact {
    padding: 2vh 2vw;
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-right: 5px;
    height: 80vh;
  }

  #contact-form {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "form form"
      "info map";
    gap: 20px;
  }

  .contactUs h1 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 5px;
  }

  #contact-form h3 {
    font-size: 0.8rem;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 15px;
  }

  .contact.form {
    grid-area: form;
    padding: 3px 8px;
    width: 80%;
    margin-left: 23px;
  }

  .formBox {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    margin-left: 30px;
  }

  .row50,
  .row100 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 0;
  }

  .formBox .inputBox input,
  .formBox .inputBox textarea {
    font-size: 0.65rem;
    padding: 3px 4px;
  }

  .formBox .inputBox label {
    font-size: 0.7rem;
    margin-bottom: 0px;
  }

  .row100 textarea {
    min-height: 80px;
    padding: 5px;
    resize: none;
    box-sizing: border-box;
  }

  #message {
    height: 17px !important;
    font-size: 0.65rem;
    padding: 2px;
  }

  /*========= CONTACT INFO  ==========*/
  .contact.info {
    grid-area: info;
    width: 93%;
    height: 180px;
    padding: 15px;
    font-size: 0.65rem;
    margin-left: -8px;
  }

  .contact.info h3 {
    margin-left: 0 !important;
    margin-top: -5px !important;
    font-size: 0.8rem !important;
  }

  .info .infoBox i {
    min-width: 20px;
    height: 20px;
    font-size: 0.5rem;
    border-radius: 50%;
    margin-right: 0;
  }

  /*========= CONTACT MAP  ==========*/
  .contact.map {
    grid-area: map;
    margin-top: -6px !important;
    width: 105%;
    height: 105%;
    padding: 5px;
    box-sizing: border-box;
    margin-left: -12px !important;
  }

  .contact.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 8px;
  }

  /*========= FOOTER  ==========*/

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 15px 3vw;
  }

  .footer .col-1,
  .footer .col-2,
  .footer .col-3 {
    margin: 0;
    min-width: auto;
  }

  .col-1 {
    padding-left: 10px !important;
  }

  .col-1 ul li {
    margin-bottom: 2px; /* reduced spacing */
  }

  .col-1 ul li a {
    font-size: 0.65rem;
  }

  .footer div h3 {
    font-size: 0.8rem;
    margin-bottom: 6px;
  }

  .footer div ul li {
    margin-bottom: -4px !important;
  }

  .footer div a {
    font-size: 0.65rem;
    margin-bottom: 2px;
  }

  .col-2 p,
  .col-2 a,
  .col-3 p {
    font-size: 0.65rem;
    margin-bottom: 2px;
  }
}

/* ===============================  SECOND BREAKPOINT  =============================== */

@media screen and (max-width: 422px) {
  /*========= STUDENT RESOURCES PAGE  ==========*/

  .resources {
    padding: 4vh 5vw;
    height: auto;
    min-height: 65vh;
  }

  .resources h1 {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .resources p {
    margin-top: -30px;
    font-size: 0.69rem;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 15px;
    margin-bottom: 0px;
  }

  .book-icon {
    display: flex;
    justify-content: center;
    margin-top: -50px;
  }

  .book-icon i {
    font-size: 4rem;
    margin-top: 0;
  }

  .download-item span {
    font-size: 0.69rem;
  }

  .download-btn {
    padding: 5px 12px;
    font-weight: 500;
    font-size: 0.69rem;
  }

  .download-buttons {
    margin-top: -10px;
    gap: 10px;
    margin-bottom: 30px;
  }
}
